extends master

block content
    each error in flash.error
        p.flash-error= error
    each info in flash.info
        p.flash-info= info

    .project-ui

        h1= title
        p Sources at #{project.root}
        p
            if project.child
                | Running
            else
                | Runs
            | on port #{project.port}
        form(action=url, method='POST')
            if project.child
                button(name="action", value="stop") Stop it
            else
                button(name="action", value="start") Start it
