extends master

block append scripts
    script
        $(function() {frames.top.project_ping('#{project.name}');});

block content
    errors = flash('error')
    each error in errors
        p.flash-error= error
    infos = flash('info')
    each info in infos
        p.flash-info= info

    .project-ui

        h1= title
        p Sources at #{project.root}
        p
            if project.child
                | Running
            else
                | Runs
            | on port #{project.port}
        form(action=url, method='POST')
            if project.child
                button(name="action", value="stop") Stop it
            else
                button(name="action", value="start") Start it
